# dependencies
/server/node_modules
/mobileApp/node_modules
/mobileApp/.expo
/.pnp
.pnp.js

# misc
.env.local
.env.development
/mobileApp/config.js
/mobileApp/app.json
/server/app/config/env/development
npm-debug.log*
yarn-debug.log*
yarn-error.log*